<h2 class="title">新規ユーザー登録</h2>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <div class="devise-title">
      <%= f.label :nickname %>
    </div>  
    <div class="devise-memo">*10文字以内で入力</div>
    <div class="devise-text">
      <%= f.text_field :nickname, autofocus: true %><i class="far fa-lightbulb"></i>
    </div>  
  </div>
  
  <div class="field">
    <div class="devise-title">
      <%= f.label :user_name %>
    </div>  
    <div class="devise-memo"> *半角英数字混合　８文字〜12文字 </div>
    <div class="devise-text">
      <%= f.text_field :user_name %><i class="far fa-lightbulb"></i>
    </div>  
  </div>

  <div class="field">
    <div class="devise-title">
      <%= f.label :gender %>
    </div>  
    <%= f.collection_select(:gender_id, Gender.all, :id, :name, {include_blank: "--"}, {class:"gender-select"}) %><i class="far fa-lightbulb"></i>
  </div>

  <div class="field">
    <div class="devise-title">
      <%= f.label :age %>
    </div>
    <%= f.collection_select(:age_id, Age.all, :id, :name, {include_blank: "--"},{class:"Age-select"}) %><i class="far fa-lightbulb"></i>
  </div>

  <div class="field">
    <div class="devise-title">
      <%= f.label :email %>
    </div>  
    <div class="devise-text">
      <%= f.email_field :email, autocomplete: "email"%><i class="far fa-lightbulb"></i>
    </div>  
  </div>

  <div class="field">
    <div class="devise-title">
      <%= f.label :password  %>
    </div>  
    <div class="devise-memo">
      *パスワードは６文字以上
    </div>  
    <div class="devise-text">
      <%= f.password_field :password, autocomplete: "new-password" %><i class="far fa-lightbulb"></i>
    </div>  
  </div>

  <div class="field">
    <div class="devise-title">
      <%= f.label :password_confirmation %>
    </div>
    <div class="devise-text">  
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %><i class="far fa-lightbulb"></i>
    </div>  
  </div>

  <div class="field">
    <div class="devise-title">
      <%= f.label :profile %>
    </div>  
    <div class="devise-text">
      <%= f.text_area :profile %>
    </div>  
  </div>  
  <div class="field">
    <div class="devise-title">
      <%= f.label :icon %>
    </div>
    <div class="devise-text">
      <%= f.file_field :icon %>
    </div>  
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<div class="move">
  <%= render "devise/shared/links" %>
</div>  
<div class="move">
  <%= link_to  root_path  do %>
    <i class="fas fa-door-open">戻る</i>
  <% end %>  
</div>  
