<%= render "shared/header" %>
<div class="main">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <h1 class="page-title purple">
    <%= "#{@topic.title}の話"%>
  </h1>  
  <div class="topic-show">
    <p><i class="fas fa-search-plus"></i>どんな内容の話ですか？</p>
    <div class="topic-memo">
        <%= @topic.memo %>
    </div>    
    <div class="topic-detail">
        <%= link_to room_topic_path(@room,@topic), method: :delete do %>
          <i class="fas fa-trash-alt">削除</i>
        <% end %>
        <%= @topic.user.nickname %>
        <%= @topic.created_at.to_s(:datetime_jp) %>
    </div>
  </div>
  <div class="log-area">
    <div class="comments">
      <div class="comment">
        <%# コメントの内容とコメントの日付　名前　%>
      </div>
    </div>
  </div>
  <div class="move_to_index">
    <%= link_to room_topics_path(@room) do %>
      <i class="fas fa-door-open">ルームに戻る</i>
    <% end %>  
  </div> 
</div>   