<%= render "shared/header" %>
<div class="main">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <h1 class="page-title red">ユーザー検索</h1>
  <div class="contents">
    <div class="friends-page">
      <% @user.each do |user|%>
        <div class="user-picture">
        </div>
        <div class="user-show name">
          <%= user.nickname %>
        </div>  
        <div class="user-show">
          <%= user.user_name %>
        </div>
        <div class="user-show">
          <%= user.gender.name %>
        </div>  
        <div class="user-show"> 
          <%= user.profile %>
        </div>
        <% unless current_user == user %>
          <% if current_user.following?(user) %>
            <%= link_to 'フォローを外す', unfollow_path(user.id), method: :POST,class: "follow-btn" %>
          <% else %>
            <%= link_to 'フォローする', follow_path(user.id), method: :POST ,class:"follow-btn" %>
          <% end %>
        <% end %>  
    
      <% end %>  
    </div>  

  </div>
</div>
