<%= render "shared/header" %>
<div class="main">
  <h1 class="page-title green"><%= current_user.user_name %></h1>
  <div class="your-page">
    <div class="user-picture">
    </div>
    <div class="user-show name">
      <%= @user.nickname %>
    </div>
    <div class="user-show">
      <%= @user.profile %>
    </div>
  </div>
  <div class="number ichi">  
    <div class="f-number">
      <p>フォロー中</p>
      <%= @user.follower.count %>
    </div>
    <div class="f-number">
      <p>フォロワー</p>
      <%= @user.followed.count %>
    </div>
  </div>
  <div class="number">
    <div class="follows">
        <% @user.following_user.where.not(id: current_user.id).each do |user| %>
          <div class="follow">
            <% if current_user.following?(user) && current_user.follower?(user) %>
               <i class="fas fa-hands-helping"></i>
            <% end %>
            <%= link_to "#" ,class:"s-btn" do %>
              <i class="fas fa-house-user"></i>
            <% end %>
            <%= user.nickname %>
          </div>  
        <% end %>
    </div>  
    <div class="follows">  
        <% @user.follower_user.where.not(id: current_user.id).each do |user| %>
          <div class="follow">
            <% if current_user.following?(user) && current_user.follower?(user) %>
               <i class="fas fa-hands-helping"></i>
            <% end %>
            <%= link_to  "#" ,class: "s-btn"  do %>
              <i class="fas fa-house-user"></i>
            <% end %>
            <%= user.nickname %>
          </div>  
        <% end %>  
    </div>       
</div>     