<%= render "shared/header" %>
<div class="main">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <h1 class="page-title green"><%= "#{@user.user_name}さんのページ" %></h1>
  <div class="your-page">
    <div class="user-picture">
    </div>
    <div class="user-show name">
      <%= @user.nickname %>
    </div>
    <div class="user-show">
      <%= @user.profile %>
    </div>
    <% if user_signed_in? && current_user.id == @user.id %>
      <div class="user-show">
        <%= link_to edit_user_registration_path, class:"s-btn"  do%>
          <i class="fas fa-user-cog">アカウント情報変更</i>
        <% end %>
        <%= link_to  detail_edit_path, class:"s-btn" do %>
          <i class="fas fa-user-edit">プロフィールの編集</i>
        <% end %>  
      </div>
    <% elsif user_signed_in? && current_user.id != @user.id %>  
      <% if current_user.following?(user) %>
        <%= link_to 'フォローを外す', unfollow_path(user.id), method: :POST,class: "follow-btn" %>
      <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST ,class:"follow-btn" %>
      <% end %>
    <% end %> 

  </div>
  <div class="number ichi">  
    <div class="f-number">
      <p>フォロー中</p>
      <%= @user.follower.count %>
    </div>
    <div class="f-number">
      <p>フォロワー</p>
      <%= @user.followed.count %>
    </div>
  </div>
  <div class="number">
    <div class="follows">
        <% @user.following_user.where.not(id: current_user.id).each do |user| %>
          <div class="follow">
            <% if current_user.following?(user) && current_user.follower?(user) %>
               <i class="fas fa-hands-helping"></i>
            <% end %>
            <%= link_to user_path(user) ,class:"s-btn" do %>
              <i class="fas fa-house-user"></i>
            <% end %>
            <%= user.nickname %>
          </div>  
        <% end %>
    </div>  
    <div class="follows">  
        <% @user.follower_user.where.not(id: current_user.id).each do |user| %>
          <div class="follow">
            <% if current_user.following?(user) && current_user.follower?(user) %>
               <i class="fas fa-hands-helping"></i>
            <% end %>
            <%= link_to user_path(user),class: "s-btn"  do %>
              <i class="fas fa-house-user"></i>
            <% end %>
            <%= user.nickname %>
          </div>  
        <% end %>  
    </div>       
</div>     