<div class="page-header">
  <div class="left-contents">
    <%= link_to "shovelu", root_path ,class: "shovel-icon" %>
    <%#= link_to image_tag("#", class:"shovelu-icon"), "/" %>
  </div> 
  <nav class="right-contents"> 
    <ul>     
      <%# ユーザー機能入れたら条件分岐させる %>
      <% if user_signed_in? %>
        <li><%= link_to "ニックネーム名", "#", class: "user-nickname" %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path,method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "nav-btn" %></li>
        <li><%= link_to "新規登録", new_user_registration_path, class: "nav-btn" %></li>
      <% end %>  
    </ul>   
  </div>   
</div>