<%= render "shared/header" %>
<div class="main">
  <div class="top-content">
    <div class="top-intro">  
      <h1>たまにしか会えない友人との大切な時間</br>近況報告で終わっていませんか？</h1>
      <h1>Shoveluはちょっとだけ深いトークができるアプリです</h1>
    </div>  
  </div>  
  <div class="contents">
    <div class="how_to">
      <div class="title">How to Shovelu</div>
      <p><span>1.</span>フレンドを探す</p>
      <p>ユーザー検索から相手を探します</p>
      <p>相互フォローになるとフレンドになれます</p>
      <p><span>2.</span>フレンドとしゃべる</p>
      <p>最大4人までルームをつくることが出来ます</p>
      <p><span>3.</span>お題を出す</p>
      <p>フレンドとしゃべるお題を6つ出しましょう</p>
      <p><span>4.</span>どのお題をだれがしゃべるか決める</p>
      <p>サイコロを振って決めましょう</p>
      <p><span>5.</span>Let's Shovelu!</p>
    </div>
    <div class="new-friends">
      <div class="title">フレンドを探す</div>
      <p>フォローする人のユーザーネームを入れてください</p>
      <div class="form friends">
        <%= form_with(url:  search_users_path, local: true,method: :get, class:"search-form") do |f| %>
          <%= f.text_field :user_name, class: "search_input" %>
          <%= f.button  type: "submit", class: "search_btn" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>  
    </div>
    <div class="new-room">
      <div class="title">フレンドとしゃべる</div>
      <div class="btn-room">
        <%= link_to "ルームをつくる" ,new_room_path %>
      </div>  
    </div>  
    <div class="title">今までのルーム一覧</div> 
    <div class="rooms"> 
        <% current_user.rooms.each do |room| %>
          <div class="room">
            <div class="room-date">
              <%= room.created_at.to_s(:datetime_jp) %>
            </div>
            <div class="room-name">
              <%= link_to "#{room.name}", room_topics_path(room.id) %>
            </div>
            <div class="room-delete">
              <%= link_to "✖️",room_path(room) ,method: :delete %>
            </div>
          </div>  
        <% end %>  
    </div>
      
  </div>  
</div>
