<%= render "shared/header" %>
<div class='main'>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <h1 class="page-title blue">新規ルーム作成</h1>
  <div class="form">
    <%= form_with model: @room, local: true do |f| %>
      <%= render "shared/error_messages", model: f.object %>
      <div class="new-room-name">
        <p class="new-room-memo">ルームに名前をつけてください</p>
        <%= f.text_field :name, class: 'new-room-input', placeholder: 'ルーム名'%>
      </div>  
      <div class="invite">
        <p class="new-room-memo">参加するフレンドを選んでください</p>
        <div class="select">
          <select name = "room[user_ids][]">
            <option value=" ">-----</option>
            <% User.all.each do |user| %>
              <% if current_user.following?(user) && current_user.follower?(user) %> 
                <option value=<%= user.id %>>
                  <%= user.nickname %> 
                </option>
              <% end %>  
            <% end %>  
          </select>
        </div>  
        <div class="select">
          <select name = "room[user_ids][]">
            <option value=" ">-----</option>
            <% User.all.each do |user| %>
              <% if current_user.following?(user) && current_user.follower?(user) %> 
                <option value=<%= user.id %>>
                  <%= user.nickname %> 
                </option>
              <% end %>  
            <% end %>  
          </select>
        </div>  
        <div class="select">
          <select name = "room[user_ids][]">
            <option value=" ">-----</option>
            <% User.all.each do |user| %>
                <% if current_user.following?(user) && current_user.follower?(user) %> 
                  <option value=<%= user.id %>>
                    <%= user.nickname %> 
                  </option>
                <% end %>  
            <% end %>  
          </select>
        </div>  
      </div>  
      <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
      <%= f.submit class: 'room-create-btn'%>
  
    <% end %>
  </div>  

</div> 
